
.btn-ig {
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: grid;
    place-content: center;
    transition:
      background 300ms,
      transform 200ms;
    font-weight: 600;
  }
  
  .button__instagram {
    position: absolute;
    inset: 0;
    animation: text-rotation 8s linear infinite;
    transition: color 0.3s ease;
    > 
    span {
      position: absolute;
      transform: rotate(calc(19deg * var(--index)));
      inset: 7px;
    }
  }

    .button__circle {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
     overflow: hidden;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   
  @keyframes letterFade {
    0% {
      opacity: 1;
      transform: translateY(10px);
    }
  
    50% {
      opacity: 0;
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }
  
  .button__icon--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .btn-ig:hover {
    transform: scale(1.05);
  }

  
  .btn-ig:hover .button__icon:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .btn-ig:hover .btn__circle:hover .button__icon--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
  }
  
  @keyframes text-rotation {
    to {
      rotate: 360deg;
    }
  }